

span {
   margin-right: 10px;

}



.fa-ban {
    display: none;
}

.ListTasks:hover .fa-ban {
    display: inline-block;
}

ul {
    list-style: none;
    padding-left: 0;
    position: relative;
}

li{
    padding: 5px;
    border: 1px solid rgba(149, 149, 212, 0.425);
    background-color: rgba(215, 215, 231, 0.425);
    justify-content: space-evenly;
    width: 200px;
    height: 40px;

}